/Semana2IC2024/nbproject/private/
/JavaApplication32/nbproject/private/
/Semana2IC2024/build/
/Semana3IC2024/nbproject/private/
/Semana3IC2024/build/
/Semana5Ejercicio/nbproject/private/
/Semana5Ejercicio/build/
/Ejercicio1IC2024/nbproject/private/
/Ejercicio1IC2024/build/
/Ejercicio2Semana7IC2024/nbproject/private/
/Ejercicio2Semana7IC2024/build/
