/Semana2IC2024/nbproject/private/
/JavaApplication32/nbproject/private/
/Semana2IC2024/build/
/Semana3IC2024/nbproject/private/
/Semana3IC2024/build/
/Semana5Ejercicio/nbproject/private/
/Semana5Ejercicio/build/
/Ejercicio1IC2024/nbproject/private/
/Ejercicio1IC2024/build/
/Ejercicio2Semana7IC2024/nbproject/private/
/Ejercicio2Semana7IC2024/build/
/Semana8IC2024/nbproject/private/
/Semana8IC2024/build/
/Ejercicio2Semana8IC20234/nbproject/private/
/Ejercicio2Semana8IC20234/build/
/Semana11IC2024/nbproject/private/
/Semana11IC2024/build/
/Semana12IC2024/nbproject/private/
/Semana12IC2024/build/
/Semana12ejer2IC2024/nbproject/private/
/Semana12ejer2IC2024/build/
/Semana12ejer2IC2024/dist/
/Semana13Ic2024/nbproject/private/
/Semana13Ic2024/build/
